.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin-top: 50px;
  box-shadow: 5px 4px 8px rgba(235, 248, 4, 0.1);}

.cell {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 2px solid rgb(250, 254, 2);
  
}

.label1{
  color:rgb(251, 255, 0);
  font-size:40px;
  font-weight: bold;
}
.label{
  color:rgb(251, 255, 0);
  font-size: larger;
  font-weight: bold;
}

select {
  margin-top: 40px;
  padding: 5px;
}
